Repository OpenTTD/OpenTTD, pull requests merged in 2019-01, with the labels that each got.

#6872 Add: Houses can accept up to 16 different cargo types via NewGRF
  src/house.h
  src/newgrf.cpp
  src/table/town_land.h
  src/town_cmd.cpp
Labels: NewGRF

#7108 Feature: Group liveries, and livery window usability enhancements.
  bin/baseset/openttd.grf
  media/extra_grf/openttd.nfo
  media/extra_grf/openttdgui.nfo
  media/extra_grf/openttdgui_group_livery.png
  src/command.cpp
  src/command_type.h
  src/company_cmd.cpp
  src/company_gui.cpp
  src/company_gui.h
  src/gfx_type.h
  src/group.h
  src/group_cmd.cpp
  src/group_gui.cpp
  src/lang/english.txt
  src/livery.h
  src/saveload/company_sl.cpp
  src/saveload/group_sl.cpp
  src/saveload/saveload.cpp
  src/script/api/script_window.hpp
  src/settings.cpp
  src/table/sprites.h
  src/vehicle.cpp
  src/widgets/company_widget.h
  src/widgets/group_widget.h
Labels: Interface, enhancement, savegame upgrade

#6988 Change: AI/GS ScriptBridge::GetName takes one extra parameter to refer the vehicle type
  bin/ai/compat_0.7.nut
  bin/ai/compat_1.0.nut
  bin/ai/compat_1.1.nut
  bin/ai/compat_1.2.nut
  bin/ai/compat_1.3.nut
  bin/ai/compat_1.4.nut
  bin/ai/compat_1.5.nut
  bin/ai/compat_1.6.nut
  bin/ai/compat_1.7.nut
  bin/ai/compat_1.8.nut
  bin/ai/regression/tst_regression/main.nut
  bin/ai/regression/tst_regression/result.txt
  bin/game/compat_1.2.nut
  bin/game/compat_1.3.nut
  bin/game/compat_1.4.nut
  bin/game/compat_1.5.nut
  bin/game/compat_1.6.nut
  bin/game/compat_1.7.nut
  bin/game/compat_1.8.nut
  src/script/api/ai/ai_bridge.hpp.sq
  src/script/api/ai_changelog.hpp
  src/script/api/game/game_bridge.hpp.sq
  src/script/api/game_changelog.hpp
  src/script/api/script_bridge.cpp
  src/script/api/script_bridge.hpp
Labels: AI/Game script (squirrel)
