Repository OpenTTD/OpenTTD, pull requests merged in 2025-05, with the labels that each got.

#14121 Add: [NewGRF] Add purchase list Action3 CID for houses, industries, industry tiles, airports and airport tiles.
  src/newgrf/newgrf_act3.cpp
  src/newgrf_airport.cpp
  src/newgrf_airporttiles.cpp
  src/newgrf_commons.h
  src/newgrf_house.cpp
  src/newgrf_industries.cpp
  src/newgrf_industrytiles.cpp
Labels: needs review: NewGRF

#14149 Add: [NewGRF] Add explicit (Var)Action2 results for "callback failed" and "calculated result".
  src/newgrf/newgrf_act2.cpp
  src/newgrf_spritegroup.cpp
  src/newgrf_spritegroup.h
Labels: needs review: NewGRF

#14124 Change: Remove extra close buttons from some windows.
  src/lang/english.txt
  src/network/network_content_gui.cpp
  src/network/network_gui.cpp
  src/newgrf_gui.cpp
  src/script/script_gui.cpp
  src/widgets/network_content_widget.h
  src/widgets/network_widget.h
  src/widgets/newgrf_widget.h
  src/widgets/script_widget.h
Labels: preview

#14260 Change: [Script] ScriptVehicleList_Station accepts an optional VehicleType parameter
  regression/regression/main.nut
  regression/regression/result.txt
  src/script/api/ai_changelog.hpp
  src/script/api/game_changelog.hpp
  src/script/api/script_vehiclelist.cpp
  src/script/api/script_vehiclelist.hpp
Labels: needs review: Script API

#13456 Add: [Script] ScriptVehicleList_Waypoint
  src/script/api/ai_changelog.hpp
  src/script/api/game_changelog.hpp
  src/script/api/script_vehiclelist.cpp
  src/script/api/script_vehiclelist.hpp
Labels: needs review: Script API

#13406 Change: [Script] Move GSStation::GetOwner to GSBaseStation::GetOwner
  src/script/api/game_changelog.hpp
  src/script/api/script_basestation.cpp
  src/script/api/script_basestation.hpp
  src/script/api/script_station.cpp
  src/script/api/script_station.hpp
Labels: needs review: Script API
